<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <a class="navbar-brand" routerLink="/">Plant Analyser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/">Plants<span class="sr-only">(current)</span></a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink = "/diseases">Diseases</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink = "/analyse">Analysis</a></li>
                <li routerLinkActive="active" *ngIf="authservice.isAuthentificated()" class="nav-item"><a class="nav-link" routerLink="/profile">Profile</a></li>
                
            </ul>

            <ul class="navbar-nav ml-auto">
                <ng-template [ngIf]="!authservice.isAuthentificated()">
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
                <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                </ng-template>
                <li *ngIf="authservice.isAuthentificated()" class="nav-item" (click)="logout()"><a class="nav-link">Logout</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
</nav>

<script>
    $(document).ready(function () {
        $(".navbar-nav li a").click(function(event) {
            $(".navbar-collapse").collapse('hide');
        });
    });
</script>
