.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

img {
    max-width: 100%;
    margin: 0 1rem;
}

label {
    display: inline-block;
    cursor: pointer;
}

