<div class="container">
    <div class="row">
        <h1>
            {{currentplant.name}}

        </h1>
    </div>
    <div class="row">
        <div class="plantimg col-md-8">

        </div>

    </div>
    <div class="row">
       <h3>Beschreibung</h3>

    </div>
    <div class="row">
        <p class="col-md-10">Pour appeler à la diminution du nombre de voitures en ville, des citoyens devraient
            manifester, samedi 9 juin à Paris, dans le cadre d'une promenade "cyclonudiste", une
            initiative née à l'appel de Coordinadora de Colectivos Ciclonudistas de Aragón (Espagne).
            "Nous nous associons à un mouvement international qui veut interpeller la société sur la
            désintégration de la biosphère en jouant sur le tabou de la nudité, affirme Philippe Colomb,
            co-organisateur. On oublie souvent que l'homme n'est qu'un animal un peu plus sophistiqué
            que les autres. Pour vivre, il doit préserver la biosphère qu'il est en train de détruire.
        </p>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success col-md-2">Analysieren</button>
    </div>
</div>

