<div class="loader mx-auto my-5" *ngIf="!plant" appTimeout [timeout]="1000"></div>
<div class="col-md-12" *ngIf="!plant && error">
    <div class="col-md-12 alert alert-warning mx-auto">
        {{"ERRORS.PLANTS" | translate}}
    </div>
</div>
<div class="container" *ngIf="plant">
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light mt-2">
        <h2 class="mb-0 h1">{{plant?.name}}</h2>
        <button type="button" class="btn btn-success ml-auto" (click)="onShowAnalyse()">Analyse</button>
    </nav>
    <div class="row two mt-md-2">
        <img [src]="plant?.image_url || './assets/img/' + plant?.name +'.jpg'" class="img-fluid col-md-6" alt="Plantimage">
        <div class="col-md-6">
            <h3 class="mt-5 mt-md-0">{{"PLANT.INFORMATION" | translate}}</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">{{"PLANT.NAME" | translate}}</th>
                        <td>{{plant?.name}}</td>
                    </tr>
                    <tr *ngIf="plant?.eppo_code">
                        <th scope="row">{{"PLANT.EPPO_CODE" | translate}}</th>
                        <td>{{plant.eppo_code}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{"PLANT.HAS_NUTRIENT" | translate}}</th>
                        <td>{{(plant?.has_nutrient ? "YES": "NO") | translate}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{"PLANT.DETECTION_SUPPORTED" | translate}}</th>
                        <td>{{(plant?.detection_supported ? "YES" : "NO") | translate}}</td>
                    </tr>
                </tbody>
            </table>
            <section class="my-5 mt-my-0">
                <h3>{{"PLANT.DISEASES" | translate}}</h3>
                <div class="list-group">
                    <li style="cursor:pointer;" class="list-group-item list-group-item-action" *ngFor="let d of plant?.diseases | sort" [routerLink]="['/disease', d._id]">
                        {{d.name}}
                    </li>
                </div>
            </section>
        </div>
    </div>
</div>
