<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let g of mapservice.data">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{g.name}}</h5>
            <small>{{g.mapsdata.distance.text}}</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
    </a>
</div>
