<div class="container">
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light mt-2">
        <h2 class="mb-0 h1">{{plant?.name}}</h2>
        <button type="button" class="btn btn-success ml-auto" (click)="onShowAnalyse()">Analyse</button>
    </nav>
    <div class="row two mt-md-2">
        <img [src]="plant?.image_url || './assets/img/' + plant?.name +'.jpg'"
            class="img-fluid col-md-6" alt="Responsive image">
        <div class="col-md-6">
            <h3 class="mt-5 mt-md-0">Information</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{plant?.name}}</td>
                    </tr>
                    <tr *ngIf="plant?.eppo_code">
                        <th scope="row">Eppo Code</th>
                        <td>{{plant.eppo_code}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Has nutrient</th>
                        <td>{{plant?.has_nutrient ? "Yes": "No"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Detection supported</th>
                        <td>{{plant?.detection_supported ? "Yes": "No"}}</td>
                    </tr>
                </tbody>
            </table>
            <section class="my-5 mt-my-0">
                <h3>Krankheiten</h3>
                <div class="list-group">
                    <li style="cursor:pointer;" class="list-group-item list-group-item-action" *ngFor="let d of plant?.diseases | sort" [routerLink]="['/disease', d._id]">
                        {{d.name}}
                    </li>
                </div>
            </section>
        </div>

    </div>

</div>
