




<div class="plants row" *ngFor="let plant of allplants">

    <mat-accordion class="col-md-3">

        <mat-expansion-panel (opened)="changecurrentplant(plant)" (closed)="changestatus(plant)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{plant.name}}
                </mat-panel-title>

            </mat-expansion-panel-header>

        </mat-expansion-panel>
    </mat-accordion>


    <mat-card class="col-md-9" *ngIf="plant.panelOpenState == true">

        <app-plant-details [currentplant]="plant"></app-plant-details>

    </mat-card>

</div>
