<div class="col-md-12 d-flex mb-4 mt-4">
    <div class="ml-auto col-sm-3 p-0">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input type="text" class="form-control" [placeholder]="'PLANT.SEARCH' | translate" [(ngModel)]="filterValue" [ngModelOptions]="{standalone: true}">
        </div>
    </div>
</div>

<div>
    <h3 class="col-md-12" *ngIf="filterValue === ''">{{"PLANT.ALL_PLANTS" | translate}}:</h3>
    <h3 class="col-md-12" *ngIf="filterValue !== ''">{{"PLANT.SEARCH_RESULT" | translate}}: {{filterValue}}</h3>
</div>

<div>
    <div class="col-md-12">
        <ul class="list-group">
            <li style="cursor:pointer;" class="list-group-item list-group-item-action d-flex flex-row align-items-center" *ngFor="let plant of plants | sort | filter: filterValue"
                [routerLink]="['/details', plant?._id]">
                <img [src]="plant.image_url || './assets/img/' + plant.name +'-icon.jpg'"
                    class="img-fluid mr-5 profile-img" [alt]="plant.name">
                <h4>{{plant.name}}</h4>
            </li>
        </ul>
    </div>
</div>
