<div class="container">
    <h1>
        <i class="fas fa-lock"></i> Register</h1>
    <hr>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
                <span *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched" class="help-block">
                    Please enter a valid username
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" formControlName="email" placeholder="Enter your email">
                <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched" class="help-block">
                    Please enter a valid email
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" formControlName="password" placeholder="Choose a password">
                <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched" class="help-block">
                    Please enter a valid password
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button>
                <span *ngIf="!registerForm.valid && registerForm.touched" class="help-block">
                    Form ist not valid
                </span>
            </div>
        </div>
    </form>
</div>
